<form (ngSubmit)="onSubmit()" #clientForm="ngForm">
	<div class="grid grid--gutters">
		<div class="grid-cell">
			<md-input [(ngModel)]="client.forename" name="forename" #forename placeholder="Forename" required>
				<div [hidden]="forename.valid || forename.pristine">
					Required.
				</div>
			</md-input>
		</div>
		<div class="grid-cell">
			<md-input [(ngModel)]="client.surname" name="surname" #surname placeholder="Surname" required>
				<div [hidden]="surname.valid || surname.pristine">
					Required.
				</div>
			</md-input>
		</div>
	</div>
	<button md-button type="submit" [disabled]="!clientForm.form.valid">Save</button>
</form>