@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(../node_modules/@angular/material/prebuilt-themes/indigo-pink.css);
.flex-fill-remaining-space {
  flex: 1 1 auto; }

md-input, md-select {
  margin: 8px 0;
  width: 100%; }

md-radio-button, md-checkbox {
  margin: 16px 8px; }
