<md-sidenav-layout class="demo-root" fullscreen>
	<md-sidenav #sideNav mode="side">
		<md-nav-list>
			<a md-list-item [routerLink]="['/']">Home</a>
			<a md-list-item [routerLink]="['clients']">Clients</a>
			<a md-list-item [routerLink]="['staff']">Staff</a>
		</md-nav-list>
		<button md-button (click)="sideNav.close()">CLOSE</button>
	</md-sidenav>
	<div>
		<md-toolbar color="primary">
			<button md-icon-button (click)="sideNav.toggle()">
        		<md-icon class="md-24">menu</md-icon>
			</button>
			<span>YES Administration</span>
			<span class="flex-fill-remaining-space"></span>
			<button md-icon-button><md-icon class="md-24">more_vert</md-icon></button>
		</md-toolbar>
	</div>
	<router-outlet></router-outlet>
</md-sidenav-layout>